
.button {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 70%;
  }

  .button-secondary
  {
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding:0px 10px;
    cursor: pointer;
    opacity: 70%;
  }

 .button:hover, .button-secondary:hover {
    scale: 1.25;
    transition: all 0.5s ease;
    opacity: 1;
  }
  .Function{
    width: 100%;
    position:relative;
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap: 10%;
    margin: 15px auto 15px auto;
    background-color: #ffffff;
  }

  .red{
    color: #FF0000;
  }

  .green{
    color: #059436 ;
  }

  .purple{
    color: #7065D2;
  }


table th, table td {
    padding: 20px 0 20px 0;
    text-align: center;
    vertical-align: middle;
    text-align: center;
  }

table th{
  color:#6d13adbf;
  font-weight: bold;
}

  
  th img {
    margin: 0px 10px -10px 10px;
  }

  .input-box input{
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: #7065D2;
    font-weight: bold;
}
input::placeholder {
    font-style: italic;
    opacity: 0.7;
    color: #7065D2;

}

.input-box{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding : 5px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    color: #7065D2;
    width: 70%;
    border: 1px solid #7065D2;
    font-size: 18px;
    font-weight: bold;
}

.table_name{
    font-size: 25px;
    font-weight: bold;
    margin: 50px auto 20px 40px;
    width : 70%;
    background-image: linear-gradient(to right ,#5d26aa,#8613adbf,#a00050be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
