.cardBox--dashboard {
    display: flex;
}

.card {
    flex-basis: 1;
}

.card:hover {
    /* background-image: linear-gradient(45deg, #47158e, #ab32d3de, #c81c729a) !important; */
    background-image: linear-gradient(45deg, #61248f, #9b4cbd) !important;
}

.card-style1 {
    width: 25%;
}

.card-style2 {
    flex-grow: 4;
}

.card__icon {
    font-size: 60px !important;
    color: #7065D2;
}

.card:hover .card__icon,
.card:hover .numbers,
.card:hover .cardName {
    /* color: white !important; */
    background-image: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #FFFF !important;
}

.numbers, .cardName, .card__icon {
    /* color: transparent !important;
    background-color: #FFFF;
    background-image: linear-gradient(45deg, #61248f, #9b4cbd, #b34b7ff1) !important; */

    background-image: linear-gradient(225deg ,#61248f,#9b4cbd) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}