.cancel-button {
    width: 200px;
    font-weight: bold;
    border: none;
    /* background-image: linear-gradient(90deg, #f14b4b, #f28181); */
    background-color: #f76565;
    align-self: end;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #ef4f4f;
}

.next-button {
    width: 200px;
    font-weight: bold;
    border: none;
    /* background-image: linear-gradient(90deg, #51B072, #059436); */
    align-self: end;
    cursor: pointer;
    background-color: #51B072;
}

.next-button:hover {
    background-color: #059436;
}

.back-button {
    width: 200px;
    font-weight: bold;
    border: none;
    /* background-image: linear-gradient(90deg, #f1bf4b, #f2d081); */
    align-self: end;
    cursor: pointer;
    background-color: #f0c765;
}

.back-button:hover {
    background-color: #f1b62e;
}


.submit-button {
    width: 200px;
    font-weight: bold;
    border: none;
    /* background-image: linear-gradient(90deg, #51B072, #059436); */
    align-self: end;
    cursor: pointer;
    background-color: #51B072;
}

.submit-button:hover {
    background-color: #05a03b;
}

.submit-button:disabled {
    width: 200px;
    font-weight: bold;
    border: none;
    /* background-image: linear-gradient(90deg, #87968c, #404442); */
    background-color: #87968c;
    align-self: end;
    cursor: not-allowed;
}