.report-input__inp {
    width: 300px;
}

.select-btn {
    width: 320px;
    margin: 20px 0 20px 0;
}

.select-createbook-btn__title {
    font-size: 17px;
    top: 7%;
}

.wrapper {
    /* position: absolute; */
    left: -30px;
}

.report-submit-button {
    position: relative;
    left: -30px;
}