.main--setup {
    margin: auto 0 auto 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.content--setup {
    margin: 0 0 auto 0;
    height: fit-content;
}

.topbar--set-padding {
    padding-top: 30px;
}