.body {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%; /* Adjust table width as needed */
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  img{
    margin: 10px auto 10px auto;
  }

  .header{
    margin: 10px auto 10px auto;
    font-size: 30px;
    font-weight: bold;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }