<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web - Learning</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="input.css">
        <script src="input.js"></script>
        <script src="validator.js"></script>
        <style> 
           
        </style>
    </head>

    <body>
        <div id="form">
            <div onclick="inputClicked({
                    id: 'input-name',
                    inputType: 'text'})"
                id="input-name" class="form-group">
                <input id="name" class="form-group__input" type="text">
                <div class="form-group__title form-control">Enter your name</div>
                <span id="input-name-message" class="form-group__message"></span>
            </div>
            <div onclick="inputClicked({
                    id: 'input-password'})"
                id="input-password" class="form-group">
                <input id="password" class="form-group__input" type="text">
                <div class="form-group__title">Enter your password</div>
                <span id="input-name-message" class="form-group__message"></span>
            </div>

            <div onclick="inputClicked({
                id: 'input-date',
                inputType: 'date'})"
            id="input-date" class="form-group">
            <input id="date" class="form-group__input" type="text">
            <div class="form-group__title">Enter your test</div>
            <span id="input-name-message" class="form-group__message"></span>
        </div>
        </div>

        <script>
            Validator({
                form: '#form',
                errorSelector: '.form-group__message',
                rules: [
                    Validator.isRequired('#name', 'Nhập lại tên đi nha'),
                    Validator.isRequired('#password'),
                    Validator.isRequired('#date')
                    ]
            })
        </script>
    </body>
</html>