<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tạo sổ mới</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/input.css">
        <link rel="stylesheet" href="/css/createbook.css">
        <script src="/js/validator.js"></script>
        <style> 
           
        </style>
    </head>

    <body>
        <div id="createbook-form" class="createbook">
            <div id="createbook__title">Sổ tiết kiệm</div>
            <form class="form-input" action="/taoso_form/xacnhan" method="post">
                <div id="createbook__group0">
                    <div id="createbook__group1">
                        <div id="input-MASO" class="form-group inp-createbook">
                            <input id="MASO" class="form-group__input inp-createbook__input" type="text" name="MASO" placeholder=" " value="<%= newMaSo %>" disabled>
                            <label for="MASO" class="form-group__title form-group__input__title inp-createbook__title"><%= newMaSo %></label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
    
                        <div id="input-TENKH" class="form-group inp-createbook">
                            <input id="TENKH" class="form-group__input inp-createbook__input" type="text" name="TENKH" placeholder=" ">
                            <label for="TENKH" class="form-group__title form-group__input__title inp-createbook__title">Nhập tên khách hàng</label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
    
                        <div id="input-DIACHI" class="form-group inp-createbook">
                            <input id="DIACHI" class="form-group__input inp-createbook__input" type="text" name="DIACHI" placeholder=" ">
                            <label for="DIACHI" class="form-group__title form-group__input__title inp-createbook__title">Nhập địa chỉ</label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
                    </div>
    
                    <div id="createbook__group2">
                        <div id="input-LOAI" class="form-group inp-createbook">
                            <input id="LOAI" class="form-group__input inp-createbook__input" type="text" name="LOAI" placeholder=" ">
                            <label for="LOAI" class="form-group__title form-group__input__title inp-createbook__title">Nhập loại sổ</label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
            
                        <div id="input-CMND" class="form-group inp-createbook">
                            <input id="CMND" class="form-group__input inp-createbook__input" type="text" name="CMND" placeholder=" ">
                            <label for="CMND" class="form-group__title form-group__input__title inp-createbook__title">Nhập CMND</label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
    
                        <div id="input-date" class="form-group inp-createbook">
                            <input id="date" class="form-group__input inp-createbook__input" type="date" name="NGAY" placeholder=" ">
                            <label for="date" class="form-group__title form-group__input__title inp-createbook__title">Ngày tạo sổ</label>
                            <span id="input-name-message" class="form-group__message"></span>
                        </div>
                    </div>
                </div>
                <div id="createbook__group3">
                    <div id="input-SOTIEN" class="form-group inp-createbook">
                        <input id="SOTIEN" class="form-group__input inp-createbook__input" type="text" name="SOTIEN" placeholder=" ">
                        <label for="SOTIEN" class="form-group__title form-group__input__title inp-createbook__title">Nhập số tiền gửi</label>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>

                    <button class="form-group__button next-button">Tiếp tục</button>
                </div>
            </form>
        </div>

        <script>
            Validator({
                form: '#createbook-form',
                errorSelector: '.form-group__message',
                rules: [
                    Validator.isRequired('#TENKH', 'Nhập lại tên đi nha'),
                    Validator.isRequired('#password'),
                    Validator.isRequired('#date')
                    ]
            })
        </script>

    </body>