<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tạo sổ mới</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/input.css">
        <script src="/js/input.js"></script>
        <script src="/js/validator.js"></script>
        <style> 
           
        </style>
    </head>

    <body>
        <div id="form">
            <form action="/taoso_form" method="post">
                <fieldset>
                    <legend>Thông tin sổ mới</legend>
                    <div id="input-MASO" class="form-group">
                        <label for="MASO" class="form-group__title">Mã sổ mới:</label>
                        <input id="MASO" class="form-group__input" type="text" name="MASO" value="<%= newMaSo %>" disabled>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-LOAI',
                            inputType: 'number'})"
                        id="input-LOAI" class="form-group">
                        <input id="LOAI" class="form-group__input" type="text" name="LOAI">
                        <div class="form-group__title">Nhập loại sổ</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-TENKH'})"
                        id="input-TENKH" class="form-group">
                        <input id="TENKH" class="form-group__input" type="text"name="TENKH">
                        <div class="form-group__title">Nhập tên khách hàng</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-CMND',
                            inputType: 'int'})"
                        id="input-CMND" class="form-group">
                        <input id="CMND" class="form-group__input" type="text"name='CMND'>
                        <div class="form-group__title">Nhập CMND</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-DIACHI'})"
                        id="input-DIACHI" class="form-group">
                        <input id="DIACHI" class="form-group__input" type="text"name="DIACHI">
                        <div class="form-group__title">Nhập địa chỉ</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-SOTIEN',
                            inputType: 'int'})"
                        id="input-SOTIEN" class="form-group">
                        <input id="SOTIEN" class="form-group__input" type="text" name="SOTIEN">
                        <div class="form-group__title">Nhập số tiền gửi</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
        
                    <div onclick="inputClicked({
                            id: 'input-date',
                            inputType: 'date'})"
                        id="input-date" class="form-group">
                        <input id="date" class="form-group__input" type="text" name="NGAY">
                        <div class="form-group__title">Ngày mở sổ</div>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>

                    <div class = '.form-add ' >
                        <button class="form-group__button">Tạo sổ</button>
                    </div>
                </fieldset>
            </form>
        
        </div>

        <script>
            Validator({
                form: '#form',
                errorSelector: '.form-group__message',
                rules: [
                    Validator.isRequired('#TENKH', 'Nhập lại tên đi nha'),
                    Validator.isRequired('#password'),
                    Validator.isRequired('#date')
                    ]
            })
        </script>

    </body>
</html>