<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web - Learning</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/func.js"></script>
		<link rel="stylesheet" href="/css/table.css">
        <script src="/js/table.js"></script>
        <!-- Linking Google Font Link for Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <div class="container">
		<aside class="sidebar">
        <img src="/images/SEBank.png" alt="logo-hover" class="sidebar-img-default" />
        <img src="/images/Logo.png" alt="logo-hover" class="sidebar-img-hover" />
        <ul class="sidebar-links">
            <li data-content="Dashboard">
                <a href="/">
                    <span class="material-icons" style="font-size: 35px">
                        home
                    </span> Trang chủ
                </a>
            </li>
            <li data-content="Manage">
                <a href="/quan_ly_so#">
                    <span class="material-icons" style="font-size: 35px">
                        manage_search
                        </span>Quản lý sổ
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons" style="font-size: 35px">
                        description
                    </span> Báo cáo
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons" style="font-size: 35px">
                    settings
                    </span> Cài đặt
                </a>
            </li>
        </ul>
		</aside>

	  <div class = "main">
       <!-- Dashboard -->
		<div class="content" id="Dashboard">
			<div class="topbar">
				Trang chủ
			</div>
			<p class="date" id="Dashboard-date"></p>
			<!-- cards -->
			<div class="cardBox">
				<div class="card">
					<div>
						<div class="numbers">1,504</div>
						<div class="cardName">Daily Views</div>
					</div>
					<div class="iconBx">
						<ion-icon name="eye-outline"></ion-icon>
					</div>
				</div>
				<div class="card">
					<div>
						<div class="numbers">80</div>
						<div class="cardName">Sales</div>
					</div>
					<div class="iconBx">
						<ion-icon name="cart-outline"></ion-icon>
					</div>
				</div>
				<div class="card">
					<div>
						<div class="numbers">284</div>
						<div class="cardName">Comments</div>
					</div>
					<div class="iconBx">
						<ion-icon name="chatbubbles-outline"></ion-icon>
					</div>
				</div>
				<div class="card">
					<div>
						<div class="numbers">$7,842</div>
						<div class="cardName">Earning</div>
					</div>
					<div class="iconBx">
						<ion-icon name="cash-outline"></ion-icon>
					</div>
				</div>
			</div>


			<!-- Add Charts -->
			<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
			<div class="graphBox">
				<div class="box">
					<canvas id="earning"></canvas>
				</div>
				<div class="box">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
	<script src="date.js"></script>
 		<script>
    		const currentDayDashboard = document.getElementById('Dashboard-date');
			const currentDayManage = document.getElementById('Manage-date');
    		currentDayDashboard.textContent = getCurrentDate();
			currentDayManage.textContent = getCurrentDate();
  		</script>
    </body>
</html>