<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tạo phiếu gửi tiền</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/deposit.css">
    <script src="/js/validator.js"></script>
</head>

<body>
    <div id="deposit-form" class="deposit">
        <div id="deposit__title">Phiếu gửi tiền</div>
        <form class="form-input" action="/guitien_form/xacnhan" method="post">
            <div id="deposit__group0">
                <div id="deposit__group1">
                
                    <div id="input-MASO" class="form-group inp-deposit">
                        <input id="MASO" class="form-group__input inp-deposit__input" type="text" name="MASO"
                            placeholder=" ">
                        <label for="MASO" class="form-group__title form-group__input__title inp-deposit__title">Nhập
                             mã sổ</label>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>

                    
                </div>

                <div id="deposit__group2">
                                        
                    <div id="input-date" class="form-group inp-deposit">
                        <input id="date" class="form-group__input inp-deposit__input" type="date" name="NGAY"
                            placeholder=" ">
                        <label for="date" class="form-group__title form-group__input__title inp-deposit__title">Ngày
                            tạo sổ</label>
                        <span id="input-name-message" class="form-group__message"></span>
                    </div>
                </div>
            </div>
            <div id="deposit__group3">
                <div id="input-SOTIEN" class="form-group inp-deposit">
                    <input id="SOTIEN" class="form-group__input inp-deposit__input" type="text" name="SOTIEN"
                        placeholder=" ">
                    <label for="SOTIEN" class="form-group__title form-group__input__title inp-deposit__title">Nhập số
                        tiền gửi</label>
                    <span id="input-name-message" class="form-group__message"></span>
                </div>

                <button class="form-group__button next-button">Tiếp tục</button>
            </div>
        </form>
    </div>

</body>