<!DOCTYPE html>
<html lang="en">

<head>
	<title>SEBANK</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/func.js"></script>
	<link rel="stylesheet" href="/css/table.css">
	<script src="/js/table.js"></script>
	<link rel="stylesheet" href="/css/password.css">
	<!-- Linking Google Font Link for Icon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script src="/js/toast.js"></script>
	<link rel="stylesheet" href="/css/input.css">
</head>

<body>
	<div id="toast"></div>
	<div class="container">
		<aside class="sidebar">
			<img src="/images/SEBank.png" alt="logo-hover" class="sidebar-img-default" />
			<img src="/images/Logo.png" alt="logo-hover" class="sidebar-img-hover" />
			<ul class="sidebar-links">
				<li data-content="Dashboard">
					<a href="/#">
						<span class="material-icons" style="font-size: 35px">
							home
						</span> Trang chủ
					</a>
				</li>
				<li data-content="Manage">
					<a href="/quan_ly_so#">
						<span class="material-icons" style="font-size: 35px">
							manage_search
						</span>Quản lý sổ
					</a>
				</li>
				<li>
					<a href="/bao_cao_ngay#">
						<span class="material-icons" style="font-size: 35px">
							description
						</span> Báo cáo
					</a>
				</li>
				<li class="active">
					<a href="/mat_khau#">
						<span class="material-icons" style="font-size: 35px">
							settings
						</span> Cài đặt
					</a>
				</li>
			</ul>
		</aside>

		<div class="main">
			<div class="content" id="Settings">
				<div class="table__header">
					<div>
						<div class="topbar">
							Cài đặt
						</div>
						<p class="date" id="Manage-date"></p>
					</div>
				</div>

				<!--Password-->
				<div class="password">
					<div id="hidden_pass">
						<input type="hidden" name="hidden_pass" value="<%= hidden_pass %>">
					</div>
					<div class="note">
						Nhập mật khẩu để có thể chỉnh sửa
					</div>
					<div class="input-box">
						<input type="password" placeholder="Mật khẩu" id="password" name="password">
						<span class="material-symbols-outlined" id="eyeicon" style="font-size:40px;">
							visibility_off
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			let correct_password = "<%= hidden_pass %>";
			let pass = document.getElementById("password");
			let eyeicon = document.getElementById("eyeicon");

			// Handle Enter key press
			pass.addEventListener('keypress', (event) => {
				if (event.key === 'Enter') {
					event.preventDefault();
					checkPassword();
				}
			});

			// Password visibility toggle
			eyeicon.addEventListener('click', () => {
				if (pass.type === "password") {
					pass.type = "text";
					eyeicon.textContent = 'visibility';
				} else {
					pass.type = "password";
					eyeicon.textContent = 'visibility_off';
				}
			});

			function checkPassword() {
				if (pass.value === correct_password) {
					window.location.href = '/cai_dat';
				} else {
					toast({
						title: 'Lỗi',
						desc: 'Mật khẩu không chính xác!',
						type: 'error',
						duration: 3000
					});
				}
			}
		});
	</script>
</body>

</html>