<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web - Learning</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/input.css">
        <script src="input.js"></script>
        <script src="validator.js"></script>
        <style> 
        
        </style>
    </head>

    <body>
        <div class="form">
            <div class="input-group">
                <label for="MASO">Nhập mã sổ</label>
                <input id="MASO" type="text">
                <span id="input-name-message"></span>
            </div>
            

    </body>