@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --accent: rgba(112, 101, 210, 1);
  --background: rgba(252, 252, 253, 1);
  --buttons-primary: rgba(108, 104, 172, 1);
  --buttons-secondary: rgba(156, 150, 212, 1);
  --fillicon: rgba(34, 34, 34, 1);
  --text: rgba(56, 43, 70, 1);
}
