<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web - Learning</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="button_toast.css">
        <script src="button_toast.js"></script>
        <style> 
           
        </style>
    </head>

    <body>
        <div id="toast"></div>
        <div id="inputs">
            <div onclick="inputBoxWritting()" id="input-name" class="form-group">
                <input  class="form-group__input" type="text">
                <div class="form-group__title">
                    <p class="form-group__title__text">Enter your name</p>
                </div>
            </div>
            <div id="input-password" class="form-group">
                <input  class="form-group__input" type="text">
                <div class="form-group__title">
                    <p class="form-group__title__text">Enter your password</p>
                </div>
            </div>
        </div>
    </body>
</html>