.function-btn {
    border: none;
    background-color: transparent; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function-btn + .function-btn {
    margin-left: 150px;
}

.function-btn:hover{
    transform: scale(1.25);
    transition: all 0.3s;
}

.function-btn svg {
    opacity: 0.73;
    transition: opacity 0.3s ease;
}

.function-btn:hover svg {
    opacity: 1;
}

.function-btn:hover .function-label {
    opacity: 1;
}

.function-label {
    font-size: 20px;
    cursor: pointer;
    /* background: linear-gradient(90deg, #8613adbf, #a00050be); */
    /* -webkit-background-clip: text; */
    color: #7065D2;
    opacity: 0.73;
}